* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #ffffff;
  --title: #313131;
  --text: #B6B6B6;
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
  }

body {
  font-family: 'Lexend Deca';
  text-align: center;
  font-size: 1.6rem;
  background: #F3F5F7;
}

.code-blog {
  max-width: 90rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-inline: auto;
  padding-top: 4.1rem;
}

.search-header input {
  margin-top: 7.3rem;
  width: 90rem;
  height: 6.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: none;
}

.search-header input::placeholder {
  color: var(--white);
}

.search-header input, input:hover, input:active, input:focus {
  outline: none;
}

.header-linear {
  background-image: var(--linear);
  color: var(--white);
  height: 25rem;
  margin-bottom: 10rem;
  width: 100%;
}

.card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2.5rem 2.4rem 2.4rem;
}

.content-card {
  text-align: left;
  padding-bottom: 2.5rem;
  padding-inline: 2.8rem;
}

.content-card h3 {
  padding-bottom: 0.8rem;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 3.2rem;
  color: var(--title);
}

.content-card p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--text);
}

.cards {
  padding-inline: 2rem
}
.card {
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  border-radius: 5px;
  background-color: var(--white);
  margin-top: 5rem;
  max-width: 90rem;
  margin-inline: auto;
}

.card:last-child {
  margin-bottom: 10rem;
}